<head>
  <title>ユーザー登録 - PiPiple</title>
</head>

<div class="users container">
  <div class="row">
    <div class="input-space col-12 form-control">

      <h3>確認メールを再送信</h3>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
        </div><br>

        <div class="actions">
          <%= f.submit "再送する", class: 'btn btn-warning' %>
        </div><br>
      <% end %>
      <div class="links col-12">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
