<head>
  <title>マイページ - PiPiple</title>
</head>

<div class="users container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <h3>マイページ</h3>
        <tr><th>名前</th><th><%= @user.name %></th></tr>
        <tr><th>年齢</th><th><%= @user.age %></th></tr>
        <tr><th>性別</th><th><%= @user.sex %></th></tr>
        <tr><th>メールアドレス</th><th><%= @user.email %></th></tr>
        <tr><th>プロフィール</th><td><%= @user.profile %></td></tr>
      </table>

      <div class="create_edit contents">
        <p><%= link_to "登録情報編集", { :controller => "users/registrations", :action => "edit"}, :method => :get, class: "btn btn-warning btn-block" %></p>
        <p><%= link_to "デートを投稿", { :controller => "submits", :action => "new"}, :method => :get, class: "btn btn-danger btn-block" %></p>
      </div>
    </div>
  </div>
</div>
