<head>
  <title>デートを編集 - ぴぴぷる(PiPiple)</title>
</head>

<div class="submits_plans container">
  <div class="row">
    <div class="col-12 frame">
      <div class="title">
        <h3>デートを編集する</h3>
      </div>

      <%= form_for(@submits, url:{controller:'submits', action:'update'})do |f| %>

      <div class="field">
        <%= f.label :プラン名%>
        <br>
        <%= f.text_field :name, class: 'form-control' %>
      </div><br>

      <div class="field">
        <%= f.label :エリアの名前 %>
        <br>
        <%= f.select :area, ['丸の内エリア（銀座・東京・日本橋）', '下町エリア（浅草・上野・押上）', '六本木エリア（六本木・品川・麻布）',
        '新宿エリア（新宿・代々木）', '池袋エリア（池袋・赤羽・埼玉）', '渋谷エリア（渋谷・代官山・目黒）', '表参道エリア（原宿・青山）',
        '23区外エリア（吉祥寺・立川）', 'お台場エリア（豊洲・有明・舞浜）', '横浜エリア（みなとみらい・元町中華街）'],
        :prompt => '選択してください' %>
      </div><br>

      <% @submits.purposes.each do |purpose| %>
        <%= purpose.purpose %>
        <%= f.check_box :purposes, {multiple: true}, purpose.id, false %>
      <% end %>

      <div class="field">
        <%= f.label :雰囲気（タグ付け） %>
        <br>
        <%= f.text_field :mood, class: 'form-control' %>
        <small class="form-text text-muted">※ハッシュタグ(#)をつけてください。 ex.#インスタ映え#夜景が綺麗</small>
      </div><br>

      <div class="field">
        <%= f.label :一人の金額 %>
        <br>
        <%= f.select :price, ['5000円以内', '5000円~10000円', '10000円~15000円', '15000円~20000円', '20000円以上'], :prompt => '選択してください' %>
      </div><br>

      <div class="field">
        <%= f.label :概要（〇〇_searchアクションの説明とshowアクション上） %>
        <br>
        <%= f.text_area :overview, :size => "100x2", class: 'form-control' %>
      </div><br>

      <%= f.fields_for :date_spots do |i| %>
        <%= render "date_spot_fields", f: i %>
      <% end %>

       <div class="action">
         <%= f.submit "更新する", class: 'btn btn-warning' %>
       </div><br>
      <% end %>
    </div>
  </div>
</div>
