<title>ぴぴぷる/<%= @title %></title>
<div class="submits search_show">
  <div class="container-fluid">

    <div class="row">
      <div class="tops-search">
        <%= form_tag(controller:"submits",action:"search_show") do %>
        <div class="cp_ipselect cp_sl04 select_a">
          <%= select_tag :area_search, options_for_select({"エリアを選択" => 0, "丸の内エリア（銀座・東京・日本橋）" => "丸の内エリア（銀座・東京・日本橋）", "下町エリア（浅草・上野・押上）" => "下町エリア（浅草・上野・押上）",
          "六本木エリア（六本木・品川・麻布）" => "六本木エリア（六本木・品川・麻布）", "新宿エリア（新宿・代々木）" => "新宿エリア（新宿・代々木）", "池袋エリア（池袋・赤羽・埼玉）" => "池袋エリア（池袋・赤羽・埼玉）",
          "渋谷エリア（渋谷・代官山・目黒）" => "渋谷エリア（渋谷・代官山・目黒）", "表参道エリア（原宿・青山）" => "表参道エリア（原宿・青山）", "23区外エリア（吉祥寺・立川）" => "23区外エリア（吉祥寺・立川）",
          "お台場エリア（豊洲・有明・舞浜）" => "お台場エリア（豊洲・有明・舞浜）", "横浜エリア（みなとみらい・元町中華街）" => "横浜エリア（みなとみらい・元町中華街）",}),:class => "select" %>
        </div>
        <div class="cp_ipselect cp_sl04 select_pm">
          <%= select_tag :purpose_search, options_for_select({"目的を選択" => 0, "付き合う前" => "付き合う前", "告白" => "告白", "初デート" => "初デート", "定番デート" => "定番デート",
           "記念日" => "記念日", "誕生日" => "誕生日"}),:class => "select" %>
        </div>
        <div class="cp_ipselect cp_sl04 select_pm">
          <%= select_tag :price_search, options_for_select({"金額を選択" => 0, "5000円以内" => "5000円以内", "5000円~10000円" => "5000円~10000円", "10000円~15000円" => "10000円~15000円", "15000円~20000円" => "15000円~20000円", "20000円以上" => "20000円以上"}),
          :class => "select" %>
        </div>
          <%= submit_tag '検索',:class => "search_button" %>
        <% end %>
      </div>
    </div>


    <% @submits.each do |submit| %>
    <div class="planplan">
      <div class="img-thumbnail bg-light">
        <div class="loopslider">
          <ul>
            <li><%= image_tag submit.lunch_image.to_s, :height => 130 %></li>
            <li><%= image_tag submit.afternoon_image.to_s, :height => 130 %></li>
            <li><%= image_tag submit.evening_image.to_s, :height => 130 %></li>
            <li><%= image_tag submit.dinner_image.to_s, :height => 130 %></li>
          </ul>
        </div>
      </div>
      <div class="description">
        <h4><%= submit.name %></h4>
        <div class="description_ap">
          <li>【エリア：<%= submit.area %>】</li>
          <li>【金額：<%= submit.price %>】</li>
        </div><br>
        <p><%= submit.overview %></p><br>
        <div class="description_mood">
          <li>こだわり条件（<%= submit.mood %>）</li>
          <div class="show_page">
            <%= link_to "詳細ページ⇨", submit_path(submit.id) %>
          </div>
        </div>
      </div>
    </div><br>
    <% end %>

  </div>
</div>

<script language="javascript" type="text/javascript">
  $(function(){
    $('.loopslider').each(function(){
        var loopsliderWidth = $(this).width();
        var loopsliderHeight = $(this).height();
        $(this).children('ul').wrapAll('<div class="loopslider_wrap"></div>');

        var loopWidth = 0;
        $(this).find('ul li').each(function(){
          loopWidth += $(this).width() + 2;
        })
        loopWidth += 1;

        $('.loopslider_wrap').css({
            top: '0',
            left: '0',
            width: ((loopWidth) * 2),
            height: (loopsliderHeight),
            overflow: 'hidden',
            position: 'absolute'
        });

        var $_ = $(this).find('.loopslider_wrap');

        $(this).find('.loopslider_wrap').css({
            width: (loopWidth)
        });
        loopsliderPosition();

        function loopsliderPosition(){
            $_.css({left:'0'});
            $_.stop().animate({left:'-' + (loopWidth) + 'px'},30000,'linear');
            setTimeout(function(){
                loopsliderPosition();
            },30000);
        };

        $(this).find('ul').clone().appendTo($_);

    });
});
</script>
