<head>
  <title><%= @submit.name %> - ぴぴぷる(PiPiple)</title>
</head>

<div class="submits show container">
  <div class="row">
    <div class="plan-description col-lg-10 col-md-10 col-sm-10 col-xs-12">
      <div class="contents-top">
        <div class="contents-name">
          <h2><%= @submit.name %></h2>
        </div>
        <div class="contents-overview">
          <p><%= @submit.overview %></p>
        </div>
      </div>
      <div class="user-name">
        <b>投稿者：<%= @submit.user.name %><b>
      </div>
      <% @submit.date_spots.each do |i| %>
      <div class="www">
        <b><%= i.name %></b>
      </div>
      <% end %>


      <div class="delete_edit contents">
        <% if user_signed_in? && current_user.id == @submit.user_id %>
          <p><%= link_to '編集', edit_submit_path(@submit), class: "btn btn-danger" %></p>
          <p><%= link_to '削除', "/submits/#{@submit.id}", method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %></p>
        <% end %>
      </div>

      <div class="advertisement">
        <!-- GoogleAd01 -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5782150709003973"
             data-ad-slot="4541501501"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <!-- GoogleAd01 -->
        <!-- nend -->
        <script type="text/javascript">
        var nend_params = {"media":60260,"site":320022,"spot":946837,"type":2,"oriented":1};
        </script>
        <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
      </div>
      <!-- nend -->
    </div>

    <div class="col-lg-2 col-md-2 d-sm-2 hidden-xs">
      <!-- GoogleAd02 -->
      <div class="ad_pc ad_side">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5782150709003973"
             data-ad-slot="5420452417"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <br><br>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5782150709003973"
             data-ad-slot="5420452417"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <!-- GoogleAd02 -->
    </div>

  </div>
</div>
