<head>
  <title>パスワード再設定</title>
</head>

<div class="users container">
  <div class="row">
    <div class="input-space col-12 form-control">
      <h3>パスワードをお忘れですか？</h3>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div><br>

        <div class="actions">
          <%= f.submit "パスワード再設定のメールを送信する", class: 'btn btn-warning' %>
        </div><br>
      <% end %>
      <div class="links col-12">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
