<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-3.3.1' %>

    <script type="text/javascript" language="javascript">
        var vc_pid = "885661137";
    </script><script type="text/javascript" src="//aml.valuecommerce.com/vcdal.js" async></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5782150709003973",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <header class="header-nav">
          <nav class="header-nav-home"><a href="/tops/index">PiPiple(β版)</a></nav>
        </header>
      </div>
    </div>

    <%= yield %>
  </body>

  <footer>
    <br><br>
    <h6>ご意見ご要望など、お問い合わせはこちら</h6>
    <h6>pipiple.official@gmail.com</h6><br><br>
    <p>Copyright © PiPiple All Rights Reserved.</p>
  </footer>
</html>
