<head>
  <title>ユーザー登録 - PiPiple</title>
</head>

<div class="users container">
  <div class="row">
    <div class="input-space col-12 form-control">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <h3>新規登録</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :ユーザー名（10文字以内） %><br />
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div><br>

        <div class="field">
          <%= f.label :年齢 %><br />
          <%= f.select :age, ['19歳以下', '20歳〜24歳', '25歳〜29歳', '30歳〜34歳', '35歳〜39歳', '40歳以上'] %>
        </div><br>

        <div class="field">
          <%= f.label :性別 %><br />
          <%= f.select :sex, ['男性', '女性'] %>
        </div><br>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div><br>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <i>(<%= @minimum_password_length %>文字以上)</i>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div><br>

        <div class="field">
          <%= f.label :確認の為、パスワードを再度入力して下さい %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div><br>

        <div class="actions">
          <%= f.submit "登録", class: 'btn btn-warning' %>
        </div><br>
      <% end %>
      <div class="links col-12">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
